/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.env
/database/database.sqlite
/docker/mysql-data
/dump*.txt
/scripts/logs
/scripts/.~lock.*
/scripts/db_dump
/output.txt
/scripts/analyzers/comments/processed/
/temp
/storage
